/* src/pages/RegisterPage.css */
.register-page {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url('../../public/assets/background.jpg');
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.register-container {
  background: rgba(255, 255, 255, 0.1);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  width: 90%;
  max-width: 400px;
  text-align: center;
}

.register-container h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #ff6347;
}

.register-container form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.register-container input {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}
.register-container textarea {
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.register-container button {
  background-color: #ff6347;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

.register-container button:hover {
  background-color: #e55347;
}

.register-container a {
  color: #ff6347;
  text-decoration: none;
  font-size: 14px;
}

.register-container a:hover {
  text-decoration: underline;
}
